
pre,
pre code {
  background-color: transparent;
  border-radius: $pre-border-radius;
}
/* this adds some padding between the scrollbar and the end of the code */
code[class*="language-"]::after {
    content: "";
    padding: 0rem;
    display: block;
    font-size: 0.0rem;
    line-height: 0.5rem;
}

code[class*="language-"]::before {
    font-family: $monospace-font-family;
    content: attr(data-lang);
    font-size: .9rem;
    color: $gray-200;
    position: absolute;
    display: block;
    height: 1rem;
    right: .5rem;
    z-index: 5;
    margin-top: -1rem;
}

/* Don't label language for "text" */
code[class="language-text"]::before {
    font-family: $monospace-font-family;
    content: none;
    font-size: .9rem;
    color: $gray-200;
    position: absolute;
    display: block;
    height: 1rem;
    right: .5rem;
    z-index: 5;
}

/* Original code handling

pre,
pre code {
  background-color: transparent;
  border-radius: $pre-border-radius;
}

pre,
code {
  font-family: $monospace-font-family;
  font-size: 1.125rem;
}

code {
  //color: $code-color; //inherit;// ;
  font-size: 100%;
  padding-bottom: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-top: 0.1em;
}

pre {
  padding: 1.125em;
  line-height: 1.11;
  overflow-x: scroll;
  margin-bottom: 0.88em;
  background-color: $pre-background-color;
}

.highlight .p {
  font-size: 1.125rem;
  line-height: 1; 
}

pre {
    counter-reset: line-numbering;
    white-space: pre;
    overflow-x: auto;
    word-break: inherit;
    word-wrap: inherit;
}

pre a {
    background-image: none;
}


pre a::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding-right: 1em; // space after numbers
  width: 25px;
  text-align: right;
  opacity: 0.7;
  display: inline-block;
  color: $light-gray;
  margin-right: 16px;
  font-size: 13px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

pre a:first-of-type::before {
  padding-top: 10px;
}

pre a:last-of-type::before {
  padding-bottom: 10px;
}

pre a:only-of-type::before {
  padding: 10px;
}
*/
/* New code */

figure.highlight,
pre.highlight {
    padding: 1rem 1rem;
    margin: 1.5rem 0;
    overflow: hidden;
    line-height: 1.4rem;
    position: relative;
    
    //opacity: 0.5;
}

.highlighter-rouge {
    font-weight: 300;
    position: relative;
}

p code.highlighter-rouge,
p kbd {
    color: #cc6666;
    font-size: 0.8rem;
    background-color: $code-inline-bg;
    padding: 2px 4px;
    border-radius: 4px;
    word-break: break-word;
}

kbd {
    border: 1px solid $gray-800;
    border-radius: 4px;
}

figure.highlight::before,
div.highlighter-rouge::before {
    font-family: $monospace-font-family;
    content: none;
    font-size: .9rem;
    color: $gray-200;
    position: absolute;
    display: block;
    height: 1rem;
    right: .5rem;
    z-index: 5;
}

figure.highlight::before {
    margin-top: -1rem;

}

.rouge-table .code pre {
    overflow: hidden;
}

.rouge-table .code pre {
    overflow: hidden;
}

table.rouge-table,
table.rouge-table tr,
table.rouge-table td,
table.rouge-table pre {
    border: 0;
    padding: 0;
    margin: 0;

}

table.rouge-table td.gutter {
    padding-right: .5rem;
    border-right: 1px solid;
    background: $code-bg;
    border-collapse: collapse;
    grid-column-gap: 0px;
    width: 0.5rem;
    opacity: 0.5;
}

table.rouge-table td.code {
    padding-left: 0.5rem;
}

figure pre {
    margin-bottom: 0;
}

.lineno {
    text-align: right;
    padding: 0;
}
/*
*/
/* Base16 Tomorrow Dark by Chris Kempson; https://github.com/idleberg */

.highlight,
.highlight pre,
.highlight table {
    background: $code-bg;
    color: $gray-200;
    border-radius: 4px;
    font-size: 1rem;
    overflow: auto;
}
